html {
  scroll-behavior: smooth;
 }

body{
    width: 100%;
    margin: 0;
    background-color: #424874;
    min-height: 100vh;
}

.container{
    margin: 0;
    z-index: 0;
    padding:1px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.banner-holder{
    height: 20%;
    width: 100%;
    z-index: 1;
    background-color: #F4EEFF;
}

.banner-img{
    width: 100%;
    height: 20vh;

}

.banner{
    position: relative;
    height: 25vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
}

.content-holder{
    top: -5vh;
    width: 100%;
    margin-bottom: 5%;
    z-index: 2;
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-content{
    width: 80%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 25px;
    height: auto;
}

.title{
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 15px;
}

.company{
    font-size: 2em;
    font-weight: bold;
}

.date{
    float: left;
    font-weight: normal;
}

.detail-holder{
    width: 100%;
    display: flex;
}

.summary-holder{
    float: left;
    width: 60%;
    margin-top: 20px;
}

.summary-title{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 2.5em;
    width: 100%;
}

.summary-point{
    margin-top: 15px;
    font-size: 2.2em;
}

.skill-holder{
    margin-top: 20px;
    float: right;
    width: 40%;
}

.skill-title{
    text-align: right;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.8em;
    width: 100%;
}

.skill{
    text-align: right;
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 5px;
    cursor: pointer;
}

.supervisor-holder{
    width: 100%;
    float: bottom;
    margin-top: 20px;
    font-size: 2em;
}

.supervisor-title{
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

.about-holder{
    margin-top: 20px;
    width: 100%;
    font-size: 2em;
}

.about-title{
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

.supportive-holder{
    margin-top: 20px;
    width: 100%;
}

.supportive-title{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 2em;
    width: 100%;
}

.supportive-file-holder{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

