* {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  margin: 0;
  background-color: whitesmoke;
  opacity: 0.8;
  height: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header-text {
  display: none;
}

.nev {
  display: none;
}

.header-button {
  color: gray;
  font-size: 2vh;
  border: none;
  background: transparent;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5px;
  margin-bottom: 5px;
}


.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  border: 1px black solid;
  position: sticky;
  top: 0;
  background-color: rgba(50, 50, 50, 0.9);
  z-index: 999;
}

section {
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
  scroll-snap-align: start;
}

#home {
  position: relative;
}

#experiences {
  position: relative;
}

#projects {
  position: relative;
}

.star1 {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  animation: starflashing 3s infinite 0.5s;
  top: 5%;
  left: 88%;
  box-shadow: 0 0 2px 2px #fff;
  z-index: 999;
}

.star2 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  animation: starflashing 2s infinite;
  top: 10%;
  left: 87%;
  box-shadow: 0 0 2px 2px #fff;
  z-index: 999;
}

.star3 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  animation: starflashing 3s infinite;
  top: 35%;
  left: 40%;
  box-shadow: 0 0 2px 2px #fff;
  z-index: 999;
}

.star4 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  animation: starflashing 3s infinite 0.5s;
  top: 40%;
  left: 60%;
  box-shadow: 0 0 2px 2px #fff;
  z-index: 999;
}

.star5 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  animation: starflashing 2s infinite;
  top: 12%;
  left: 44%;
  box-shadow: 0 0 2px 2px #fff;
  z-index: 999;
}

.star6 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  animation: starflashing 3s infinite;
  top: 10%;
  left: 60%;
  box-shadow: 0 0 2px 2px #fff;
  z-index: 999;
}

.star7 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  animation: starflashing 3s infinite 0.3s;
  top: 15%;
  left: 80%;
  box-shadow: 0 0 2px 2px #fff;
  z-index: 999;
}

.star8 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  animation: starflashing 3s infinite;
  top: 5%;
  left: 78%;
  box-shadow: 0 0 2px 2px #fff;
  z-index: 999;
}

.star9 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  animation: starflashing 2s infinite;
  top: 38%;
  left: 60%;
  box-shadow: 0 0 2px 2px #fff;
  z-index: 999;
}

.star10 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  animation: starflashing 3s infinite 0.1s;
  top: 8%;
  left: 82%;
  box-shadow: 0 0 2px 2px #fff;
  z-index: 999;
}

.star11 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  animation: starflashing 2s infinite 0.3s;
  top: 33%;
  left: 45%;
  box-shadow: 0 0 2px 2px #fff;
  z-index: 999;
}

.star12 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  animation: starflashing 3s infinite 0.2s;
  top: 18%;
  left: 60%;
  box-shadow: 0 0 2px 2px #fff;
  z-index: 999;
}

.star13 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  animation: starflashing 3s infinite 0.05s;
  top: 26%;
  left: 41%;
  box-shadow: 0 0 2px 2px #fff;
  z-index: 999;
}

.star14 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  animation: starflashing 3s infinite 0.1s;
  top: 35%;
  left: 54%;
  box-shadow: 0 0 2px 2px #fff;
  z-index: 999;
}

@keyframes starflashing {
  0% {
    filter: brightness(0.1);
  }

  50% {
    filter: brightness(1.5);
  }

  100% {
    filter: brightness(0.1);
  }
}

.meteor {
  position: relative;
  width: 4px;
  height: 4px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px #BBE1FA;
  z-index: 999;
}

.meteor:after {
  content: "";
  display: block;
  border: 0px solid #fff;
  border-width: 2px 100px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.3);
  transform: rotate(-45deg) translate3d(1px, 1px, 0);
  transform-origin: 0% 0%;
}

@keyframes meteorflashing {
  0% {
    opacity: 0;
    transform: scale(0) translate3d(0, 0, 0);
  }

  50% {
    opacity: 1;
    transform: scale(1) translate3d(-100px, 100px, 0);
  }

  100% {
    opacity: 0;
    transform: scale(1) translate3d(-300px, 300px, 0);
  }
}

.meteor1 {
  top: 30%;
  left: 40%;
  animation: meteorflashing 4s infinite linear;
}

.meteor2 {
  top: 9%;
  left: 55%;
  animation: meteorflashing 2s infinite linear 0.5s;
}

.meteor3 {
  top: 20%;
  left: 66%;
  animation: meteorflashing 6s infinite linear 0.4s;
}

.meteor4 {
  top: 5%;
  left: 70%;
  animation: meteorflashing 4s infinite linear 0.2s;
}

.meteor5 {
  top: 20%;
  left: 46%;
  animation: meteorflashing 2s infinite linear;
}

.meteor6 {
  top: 10%;
  left: 57%;
  animation: meteorflashing 5s infinite linear 0.5s;
}

.meteor7 {
  top: 10%;
  left: 60%;
  animation: meteorflashing 3s infinite linear;
}

.meteor8 {
  top: 33%;
  left: 50%;
  animation: meteorflashing 2s infinite linear 0.3s;
}

.meteor8 {
  top: 26%;
  left: 45%;
  animation: meteorflashing 3s infinite linear 0.5s;
}

.meteor9 {
  top: 18%;
  left: 39%;
  animation: meteorflashing 4s infinite linear 0.3s;
}

.meteor10 {
  top: 10%;
  left: 68%;
  animation: meteorflashing 6s infinite linear 1s;
}

.person-wrapper {
  height: 88%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.personal-info {
  position: relative;
  max-height: 60vh;
  margin-left: 6%;
  margin-top: 4%;
  color: #EEEEEE;
  z-index: 1;
}

.home-title {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 4vh;
  font-weight: bolder;
}

.highlight {
  font-size: 2.2vh;
  margin-bottom: 15px;
  width: 45%;
}

.links-wrapper {
  position: relative;
  padding: 15px;
  width: fit-content;
  height: 3.5vh;
  border-radius: 20px;
  background-color: #BBE1FA;
  margin-bottom: 15px;
  margin-right: 15px;
}

.link-button-wrapper {
  display: inline-flex;
  width: 80%;
  align-items: center;
}

.link-image {
  transition: opacity 0.2s ease, box-shadow 0.2s ease, transform 200ms ease-in-out;
  width: 3.5vh;
  height: 3.5vh
}

.link-image:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.leftScroll {
  cursor: pointer;
  display: flex;
  top: 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 1%;
  background: black;
  z-index: 2;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.rightScroll {
  cursor: pointer;
  display: flex;
  top: 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 1%;
  background: black;
  z-index: 2;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.skills {
  width: 100%;
  display: inline-block;
  font-size: 0.9em
}

.link-holder {
  display: inline-block;
  align-items: center;
  margin-right: 0.5vh;
  margin-left: 0.5vh;
  width: 3.5vh;
  height: 3.5vh;
}

h2 {
  margin-top: 12vh;
  margin-left: 6%;
}

.education-wrapper {
  position: relative;
}

.animated-cloud {
  position: absolute;
  bottom: 10%;
  right: 0;
  padding: 0;
  margin-right: 6%;
  width: 40%;
  height: f;
  z-index: 3;
  font-size: 3vh;
}

.resume-button {
  float: right;
  height: fit-content;
  width: fit-content;
  padding: 15px;
  background-color: black;
  cursor: pointer;
  font-size: 2vh;
  font-weight: bolder;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-right: 15px;
  transition: opacity 0.2s ease, box-shadow 0.2s ease, transform 330ms ease-in-out;

}

.resume-button:hover {
  transform: scale(1.05);
  transition: transform 330ms ease-in-out;
}

.p {
  margin-left: 30px;
  font-size: 2.2vh;
}

.dotline {
  width: fit-content;
  position: relative;
  margin-bottom: 10px;
}

.s_dot {
  width: 14px;
  height: 14px;
  background: #3282B8;
  border-radius: 50%;
}

.l_dot {
  display: flex;
  width: 20px;
  height: 20px;
  background: #3282B880;
  position: absolute;
  top: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.text {
  display: block;
  color: darkgray;
  font-size: 2vh;
}

.profile_image {
  border-radius: 25px;
  border: 1px;
  width: 35vh;
}


.experience-title {
  color: #F4EEFF;
}

.experience-description {
  margin-left: 6%;
  font-size: 1.5em;
  color: #A6B1E1;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-wrapper {
  overflow: auto;
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}

.cards-list {
  height: 68%;
  padding: 15px 15px 15px;
  overflow: hidden;
  margin: auto;
}

@keyframes card-ani {
  0% {
    opacity: 0.5;
    transform: translate(-600px, 0);
  }

  50% {
    opacity: 0.8;
    transform: translate(-200px, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.card_animation {
  animation: card-ani 1.2s linear;
}

.card {
  display: inline-flex;
  position: relative;
  height: 90%;
  max-height: 50em;
  width: 25em;
  border-radius: 20px;
  margin-right: 2em;
  margin-top: 30px;
  transition: opacity 0.2s ease, box-shadow 0.2s ease, transform 330ms ease-in-out;
  opacity: 1;
  z-index: 1;
  margin-bottom: 40px;
}

.card.hover,
.card:hover {
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  transition: transform 330ms ease-in-out;
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  transition: border-radius 0.15s ease;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.banner-holder {
  position: absolute;
  height: 50%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4EEFF;
}

.banner {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
}

.content-holder {
  max-width: 600px;
  padding: 0;
  z-index: 1;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}

.inner-content {
  top: 25vh;
  padding: 20px;
  height: 50%;
  position: relative;
  background-color: #fff;
}

.info-holder {
  display: flex;
  align-items: center;
  color: black;
}

.date-category {
  text-transform: uppercase;
  font-size: 13px;
  opacity: 0.8;
  margin-bottom: 0;
  flex: 1;
  margin: 0 1.4rem 0 0;
}

.title {
  position: relative;
  margin: 10px 0 20px 0;
  font-weight: bold;
  color: black;
}

.company {
  position: relative;
  margin: 10px 0 0px 0;
  height: fit-content;
  margin-bottom: 20px;
  color: black;
}

.comment {
  position: relative;
  margin: 10px 0 0px 0;
  font-style: italic;
  color: black;
}

.description {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.6;
  color: black;
}

#projects {
  display: flex;
}

.projects-header {
  margin-left: 6%;
  width: 10%;
}

.projects-title {
  color: #FEFCF3;
  margin-right: 0;
  margin-left: 0;
  height: fit-content;
}

.projects-description {
  position: relative;
  font-size: 1.5em;
  color: #F0DBDB;
  font-weight: bold;
  margin-right: 0;
  height: fit-content;
}

.subtitle {
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 15px;
  margin-bottom: 5px
}

.projects-wrapper {
  position: relative;
  margin-left: 6%;
  margin-bottom: 10%;
  top: 10vh;
  max-height: 75%;
  margin-right: 6%;
  width: 70%;
  float: right;
  display: flex;
  z-index: 1;
}

.demo-wrapper {
  display: inline-block;
  width: 42.5%;
  margin-left: 5%;
  margin-right: 0;
  height: 100%;
}

.nodemo-wrapper {
  display: inline-block;
  width: 42.5%;
  height: 100%;
  margin-left: 10%;
}

.demo-list-wrapper {
  overflow-y: scroll;
  height: 92%;
  width: 200%;
  z-index: 0;
}

.nodemo-list-wrapper {
  overflow-y: scroll;
  width: 200%;
  height: 92%;
  z-index: 0;
  background: #A75D5D
}

.projects-cards-list {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  width: 50%;
  padding: 15px 15px 15px;
  margin-left: 0;
  z-index: 1;
  background: #A75D5D;
}

@keyframes project-ani {
  0% {
    opacity: 0.5;
    transform: translate(0, 600px);
  }

  50% {
    opacity: 0.8;
    transform: translate(0, 200px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.project_animation {
  animation: project-ani 1.2s linear;
}

.demo-card {
  overflow: hidden;
  display: inline-block;
  position: relative;
  max-height: fit-content;
  min-height: 10vh;
  width: 100%;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  transition: opacity 0.2s ease, transform 330ms ease-in-out;
  ;
  opacity: 1;
  background-color: #FFC4C4;
}

.demo-card.hover,
.demo-card:hover {
  transform: scale(1.02);
  transition: transform 330ms ease-in-out;
}

.card-title {
  font-size: 1em;
  margin: 10px;
  font-weight: bold;
  color: black;
}

.card-description {
  margin: 10px;
  color: black;
}

.github {
  background-color: #FFC4C4;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  border-radius: 20px;
  width: 60px;
  margin-left: 10px;
  float: left;
  text-align: center;
  cursor: pointer;
  transition: transform 330ms ease-in-out;
}

.colab {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #FFC4C4;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  width: 60px;
  margin-right: 10px;
  transition: transform 330ms ease-in-out;
}

.projects-links-wrapper {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: inline-block;
}

.mountain {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 250px;
  height: 230px;
  background: linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%, rgba(219, 112, 147, 1) 100%);
  position: absolute;
  right: -50px;
  bottom: 0;
  z-index: 3;
}

.m1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(176, 50, 96, 1) 100%);
  clip-path: polygon(50% -2.74%, 15.20% 108.69%, 77.8% 109.13%);
}

.m2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: Maroon;
  clip-path: polygon(49.2% -2.74%, 72.8% 99.13%, 97.80% 99.57%);
}

.line1 {
  width: 1px;
  height: 260px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 38%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  left: 79px;
  top: -5px;
  opacity: .5;
  transform: rotate(19deg);
}

.line2 {
  width: 1px;
  height: 260px;
  background: linear-gradient(to bottom, white 0%, white 38%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  left: 57px;
  top: -5px;
  opacity: .5;
  transform: rotate(28deg);
}

.two {
  position: absolute;
  right: 6%;
  transform: scale(.4) scaleX(1.4);
  transform-origin: bottom;
}

.two.m2,
.m1 {
  background: linear-gradient(to bottom, lightpink 0%, Maroon 100%);
}

.small-mountain {
  height: 120px;
  width: 140px;
  clip-path: polygon(50% 0%, 16% 100%, 78% 100%);
  opacity: 0.6;
  background-color: Maroon;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(176, 50, 96, 1) 100%);
  position: absolute;
  left: 20px;
  bottom: 0;
  z-index: 1;
}

.small-mountain2 {
  height: 180px;
  width: 180px;
  clip-path: polygon(13% 100%, 40% 0, 56% 83%, 61% 60%, 70% 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(176, 40, 96, 1) 100%);
  position: absolute;
  left: -50px;
  bottom: -1px;
  z-index: 2;
}

.small-mountain3 {
  clip-path: polygon(50% 0%, 23% 100%, 79% 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(176, 48, 96, 1) 100%);
  position: absolute;
  left: 36px;
  bottom: -1px;
  z-index: 1;
  width: 80px;
  height: 80px;
  opacity: 0.4;
}

.small-mountain4 {
  width: 40px;
  height: 40px;
  background-color: maroon;
  position: absolute;
  bottom: -1px;
  left: 66px;
  z-index: 1;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.small-mountain5 {
  width: 50px;
  height: 80px;
  background-color: maroon;
  position: absolute;
  bottom: -1px;
  left: 100px;
  z-index: 1;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.end-note {
  position: relative;
  bottom: 8%;
  z-index: 999;
  width: 100%;
  text-align: center;
  color: white;
  font-size: small;
  height: fit-content;
}

/*-------------------- Chat --------------------*/
.chat {
  position: absolute;
  bottom: 0;
  right: 5%;
  bottom: 15%;
  width: 400px;
  height: 80vh;
  max-height: 500px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #044f48, #2a7561);
  opacity: 1;
  border-radius: 20px;
  justify-content: space-between;
  flex-direction: column;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 0.5s;
  box-shadow: 2px 3px 16px silver;
}

.chat:before {
  position: absolute;
  width: 1px;
  height: 1px;
  content: "";
  bottom: 10px;
  left: 50%;
  top: 95%;
  border-radius: 50%;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.chat.active {
  display: block;
  visibility: visible;
  box-shadow: 2px 3px 16px silver;
  transition: all 600ms;
  transform: translateY(0px);
  transition: all 0.5s;
}

/*-------------------- Chat Title --------------------*/
.chat-title {
  flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 50px;
}

.chat-title h1,
.chat-title h2,
.chat-title h3{
  font-weight: normal;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.chat-title h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  letter-spacing: 1px;
}

.chat-title h3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.chat-title .avatar {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 9px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}

.chat-title .avatar img {
  width: 100%;
  height: auto;
}

/*-------------------- Messages --------------------*/
.messages {
  color: rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
  position: relative;
  width: 100%;
  padding-bottom: 40px;
  height: 68%;
  margin-bottom: 10px;
}

.messages::-webkit-scrollbar {
  display: none;
}

.messages .messages-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
}

.messages .message {
  clear: both;
  float: left;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: rgba(0, 0, 0, 0.3);
  margin: 8px 0;
  font-size: 14px;
  line-height: 1.4;
  margin-left: 35px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.messages .message .timestamp {
  position: absolute;
  bottom: -15px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.3);
}

.messages .message::before {
  content: "";
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(0, 0, 0, 0.3);
  left: 0;
  border-right: 7px solid transparent;
}

.messages .message .avatar {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  left: -35px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}

.messages .message .avatar img {
  width: 100%;
  height: auto;
}

.messages .message.message-personal {
  float: right;
  color: #fff;
  text-align: right;
  background: linear-gradient(120deg, #248a52, #257287);
  border-radius: 10px 10px 0 10px;
}

.messages .message.message-personal::before {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 5px solid transparent;
  border-top: 4px solid #257287;
  bottom: -4px;
}

.messages .message:last-child {
  margin-bottom: 30px;
}

.messages .message.new {
  transform: scale(0);
  transform-origin: 0 0;
  animation: bounce 500ms linear both;
}

.messages .message.loading::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  border: none;
  animation-delay: 0.15s;
}

.messages .message.loading span {
  display: block;
  font-size: 0;
  width: 20px;
  height: 10px;
  position: relative;
}

.messages .message.loading span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: -7px;
}

.messages .message.loading span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: 7px;
  animation-delay: 0.3s;
}

/*-------------------- Message Box --------------------*/
.message-box {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative;
  height: 10%;
}

.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  height: 17px;
  margin: 0;
  padding-right: 20px;
  width: 80%;
  overflow: hidden;
}

.message-box textarea:focus:-webkit-placeholder {
  color: transparent;
}

.message-box .message-submit {
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 10px;
  color: #fff;
  border: none;
  background: #248a52;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  transition: background 0.2s ease;
}

.message-box .message-submit:hover {
  background: #1d7745;
}

/*-------------------- Custom Srollbar --------------------*/
.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0;
}

.mCSB_inside>.mCSB_container {
  margin-right: 0px;
  padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/*-------------------- Bounce --------------------*/
@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes ball {
  from {
    transform: translateY(0) scaleY(0.8);
  }

  to {
    transform: translateY(-10px);
  }
}

.menu {
  --s: 100px; /* control the size */
  --c: black; /* the color */
  position: absolute;
  bottom: 10%;
  z-index: 999;
  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s)/2) solid #0000; 
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
         no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
         repeat-y content-box border-box;
  background: 
    var(--_g2) left  var(--_p,0px) top,
    var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
    var(--_g2) right var(--_p,0px) top,
    var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
  background-size: 
    20% 80%,
    40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
  cursor: pointer;
  transition: 
    background-position .3s var(--_s,.3s), 
    clip-path 0s var(--_s,.6s);
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
.menu:before,
.menu:after {
  content:"";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform .3s calc(.3s - var(--_s,.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1*var(--s));
  --_s: 0s;
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

.robot_button{
  position: absolute;
  bottom: 6%;
  right: 5%;
  z-index: 999;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
  cursor: pointer;
  transition: opacity 0.2s ease, box-shadow 0.2s ease, transform 200ms ease-in-out;
}

.robot_button img{
  width: 100%;
  height: auto;
}

.robot_button:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 999;
  bottom: 6%;
  right: 12%;
}