<!DOCTYPE html>
<html>

<head>
    <title>DSCI 554 Project-Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../../static/css/style.css">
</head>

<body>
    <div class="container">
        <h1 class="title">Pet Economy</h1>
        <div class="row">
            <div class="col">
                <div class="home-stat-card" onclick="location.href='./pet/ownership'" style='cursor:pointer'>
                    <div class="d-flex justify-content-between">
                        <div class="stat-title">Pet ownership</div>
                        <span class="stat-icon">🏠</span>
                    </div>
                    <div class="stat-number">90.5M</div>
                </div>
            </div>
            <div class="col">
                <div class="home-stat-card"  onclick="location.href='./pet/intake_outcome'" style='cursor:pointer'>
                    <div class="d-flex justify-content-between">
                        <div class="stat-title">Shelter Animal Trend</div>
                        <span class="stat-icon">📈</span>
                    </div>
                    <div class="stat-number" style="color:green">&darr; 594,042</div>
                </div>
            </div>

            <div class="col">
                <div class="home-stat-card">
                    <div class="d-flex justify-content-between" onclick="location.href='./pet/market'" style='cursor:pointer'>
                        <div class="stat-title">Pet Market Sale</div>
                        <span class="stat-icon">🛒</span>
                    </div>
                    <div class="stat-number">$143.6B</div>
                </div>
            </div>
            <div class="col">
                <div class="home-stat-card">
                    <div class="d-flex justify-content-between">
                        <div class="stat-title">Animal Caretaker Peak</div>
                        <span class="stat-icon">🐾</span>
                    </div>
                    <div class="stat-number">121,000</div>
                </div>
            </div>
        </div>

        <br>

        <div class="stat-card">
            <div class="row">
                <div class="col-sm-5">
                    <h6>States with the largest net outcome of sheltered animals</h6>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Texas</td>
                                <td style="color:green">&darr; 119721</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>California</td>
                                <td style="color:green">&darr; 109209</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Arizona</td>
                                <td style="color:green">&darr; 66770</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <h6>States with the largest net intake of sheltered animals</h6>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>New York</td>
                                <td style="color:red">&uarr; 10807</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Washington</td>
                                <td style="color:red">&uarr; 10346</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Minnesota</td>
                                <td style="color:red">&uarr; 1894</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div class="col-sm-7">
                    <img src="../../../../static/imgs/Annual-change-All-2022.png">
                </div>
            </div>
        </div>

    </div>
</body>

</html>