<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infographic</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- CSS files for individual components -->
    <link rel="stylesheet" href="../style/market_style.css">
 
     <!-- Include D3.js Chart.js -->
     <script src="https://d3js.org/d3.v6.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

     

   
</head>

<body class = "page-bg"> 

  <h1 class="title">Pet Market Trends & Stats</h1>
  
  <div class="container">
     <!-- Row for the Dashboard Cards -->
     <div class="row">
      <!-- Sale Card -->
      <div class="col">
        <div class="stat-card">
          <div class="d-flex justify-content-between">
            <div class="stat-title">2023 Market Sale</div>
            <span class="stat-icon">📈</span>
          </div>
          <div class="stat-number">$143.6B</div>
        </div>
      </div>
      <!-- Food Card -->
      <div class="col">
        <div class="stat-card">
          <div class="d-flex justify-content-between">
            <div class="stat-title">Pet Food & Treats</div>
            <span class="stat-icon">🥣</span>
          </div>
          <div class="stat-number">$62.7B</div>
        </div>  
      </div>
      <!-- Dog Card -->
      <div class="col">
        <div class="stat-card">
          <div class="d-flex justify-content-between">
            <div class="stat-title">Dog Annual Cost</div>
            <span class="stat-icon">🐶</span>
          </div>
          <div class="stat-number">$1201</div>
        </div> 
      </div>
      <!-- Cat Card -->
      <div class="col">
        <div class="stat-card">
          <div class="d-flex justify-content-between">
            <div class="stat-title">Cat Annual Cost</div>
            <span class="stat-icon">🐱</span>
          </div>
          <div class="stat-number">$687</div>
        </div>
      </div>

    </div>

    <!-- Row for Line Chart & Pie Chart -->
    <div class = "row">
      <div class = "col">
        <!-- Line Chart -->
        <div class="chart-container">
          <div class = "chart-title chart-header">Market Trend</div>
          <canvas id="line-chart" width="600" height="428"></canvas>
        </div>   
      </div>

      <div class = "col">
        <!-- Pie Chart -->
        <div class = "chart-container">
          <div class = "chart-header">
            <div class = "chart-title">Market Segment</div>
            <div class = "chart-year">
              <label for="year-select">Year:</label>
              <select id="year-select" onchange="updatePieChartForYear(this.value)">
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
              </select>
            </div>
          </div>

          <!-- Create a div where the graph will take place -->
        
          <canvas id ="pie-chart" width = "350" height = "450"></canvas>
          
        </div>
      </div>
    </div>

    <!-- Bar Chart (DIV) -->
    <div class="row">
      <div class="col">
        <div class ="chart-container">
          <div class="chart-header">
            <div class="chart-title my-3">Pet Spending in 2023</div>
          </div>
          <canvas id="bar-chart"></canvas>
          
        </div>
      </div>
    </div>
  </div>
  <script src="../scripts/market.js"></script>
</body>
</html>
